# Logging
# Only messages at this level and above will be printed.
# See env_logger's documentation for more information:
# https://docs.rs/env_logger/
RUST_LOG=INFO

# Address and port of the Aqueduct server to connect to.
AQUEDUCT_HOST=host.docker.internal:30330
# Address and port of the local service to expose through the tunnel
AQUEDUCT_SERVICE=host.docker.internal:80

# Authentication
# Use either username/password or an authentication token.
AQUEDUCT_USER=user
AQUEDUCT_PASSWORD=
AQUEDUCT_TOKEN=